body,
* {
    font-family: monospace;
    color: rgb(122, 91, 3);
    background-color: rgb(61, 60, 60);
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/* new */
body,
* {
    font-family: monospace;
    color : rgb(131, 70, 27);
    background-color: rgb(61, 60, 60);
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

img {
    border: 1px solid black;
}

.flex-container-row {
    display: flex;
    flex-flow: row wrap;
}

.flex-container-column {
    display: flex;
    flex-flow: column wrap;
}

nav {
    border-bottom: 2px solid black;
    .navBtn {
        list-style: none;
        font-size: 25px;
        flex: 1 1 auto;

        a {
            text-decoration: none;
        }

        a:hover {
            color:crimson;
            text-decoration: underline;
        }
    }

    #logo {
        flex: 1 50%;
    }
}

#desc-section {
    border-bottom: 2px solid black;

    >* {
        flex: 1 ;
    }

    p {
        em {
            font-size: 15px;
        }

        padding: 50px 30px;
    }

    p:hover {
        em {
            color :chocolate ;
        }

        color :chocolate ;
    }
}

h1 {
    color : crimson ;
}
#cards {
    row-gap: 30px;
    column-gap: 10px;
    padding: 0px 20px;

    .card {
        flex: 0 1 0;

        img {
            width: 100px;
            height: 100px;
        }

        a {
            text-decoration: none;
        }
    }

    .card:hover {

        a,
        p {
            font-size: 15px;
            color :chocolate ;
        }
    }
}

#footer {
    margin-top: 40px;
    padding: 0% 2% 0% 60%;
    
    li{
        flex : 1;
        list-style: none;
        p {
            font-size: 14px;
            color : rgb(168, 11, 168) ;
            flex : 1;
            em{
                color :crimson;
            } 
        }
        
    }
}