body {
    margin: 0%;
    padding: 0%;
    color :rgb(122, 91, 3);
    font-family: monospace;
    background-color: rgb(61, 60, 60);
}

nav {
    border-bottom : 2px solid black ;
    ul {
        display: flex;
    }
    ul > li {
        font-size: x-large;
    list-style: none;
    flex : 1 1 auto ;
    }
}
 
#logo {
    flex : 5 1 auto ;
}
.navBtn:hover {
    text-decoration: underline ;
    color : rgb(253, 228, 3);
}

#desc-section {
    display: inline flex;
    img {
        margin-top: 0.1%;
        width: 300%;
        border: 1px solid black;
    }
    p {
        font-size: large;
        padding: 5% 2% ;
    }
}

#cards {
    margin-top : 5% ;
    height: 80%;
    width: 99%;
    display: inline flex;
    flex-flow: row wrap;
    padding: 0% 2%;
    gap: 2%;
}

.card:hover {
    p , a { font-size: x-large; color:  rgb(255, 166, 1) ;} 
    img {
        width: 250px;
        height: 300px;
    }
}
.card{
    a {
        text-decoration: none;
        display: block;
        color: rgb(0, 0, 0);
    }
    img {
        border : 1px solid black ;
        width: 100;
        height: 100px;
    }
}

#l-btn ,  #r-btn {
    color : rgba(146, 8, 8, 0.651) ;
    font-size: xx-large ;

}
