
body,
* {
    font-family: monospace;
    color : rgb(131, 70, 27);
    background-color: rgb(61, 60, 60);
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

img {
    border: 1px solid black;
}

.flex-container-row {
    display: flex;
    flex-flow: row wrap;
    > *{
        flex : 1 ;
    }
}

.flex-container-column {
    display: flex;
    flex-flow: column wrap;
    > *{
        flex : 1 ;
    }
}

nav {
    border-bottom: 2px solid black;
    .navBtn {
        list-style: none;
        font-size: 25px;
        flex: 2 3 auto;

        a {
            text-decoration: none;
        }

        a:hover {
            color:crimson;
            text-decoration: underline;
        }
    }

    #logo {
        flex: 6 2 auto ;
    }
}

h1 {
    margin: 20px 0px;
    text-align: center;
    color: crimson;
}

#info {
    border-bottom: 1px solid black;
    padding: 0px 5px;
    column-gap: 5px;

    p{
        font-size: 15px;
        padding: 50px 10px 0px ;
    }
    p:hover {
        color : chocolate ;
    }
}

#making {
   #sect1{
    margin-right: 20px;
        flex : 0;
        li {
            width: 100px;
            height: 100px;
            display: contents;
            img {
                width: 100px;
                height: 100px;
            }
        }
    }
    
    #sect2 {
        flex: 7;
        div {
            margin-bottom: 5px;
            h3 {
                font-size: 18px;
            }
            p:hover , h3:hover{
                color : chocolate ;
            }
        }
        div + div {
            img , ul {
                margin-right: 10px;
            }
            img {
                flex : 5 ;
                height: 200px ; 
            }
            #cheff {
                flex : 2 ;
            }
            ul {
                flex : 3 ;
                font-size: 20px;
                list-style: none;
                li:hover {
                    color :chocolate ;
                }
            }
            
            
        }

    }

}

#footer {
    margin-top: 40px;
    padding: 0% 2% 0% 60%;
    
    li{
        flex : auto;
        list-style: none;
        p {
            font-size: 14px;
            color : rgb(168, 11, 168) ;
            em{
                color :crimson;
            } 
        }
        
    }
}